In [1]:
import pandas as pd
import numpy as np

In [2]:
Location = "datasets/Kickstartercombo.csv"
df = pd.read_csv(Location)
df.head()

,Unnamed: 0,ID,name,main_category,category,country,state,goal,pledged,currency,launched,deadline,backers,usd pledged,usd_goal_real,usd_pledged_real
0,0,1000002330,The Songs of Adelaide & Abullah,Publishing,Poetry,GB,failed,1000.0,0.0,GBP,2015-08-11 12:12:00,2015-10-09 11:36:00,0,0.0,NaN,NaN
1,1,1000004038,Where is Hank?,Film & Video,Narrative Film,US,failed,45000.0,220.0,USD,2013-01-12 00:20:00,2013-02-26 00:20:00,3,220.0,NaN,NaN
2,2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,US,failed,5000.0,1.0,USD,2012-03-17 03:24:00,2012-04-16 04:24:00,1,1.0,NaN,NaN
3,3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,US,canceled,19500.0,1283.0,USD,2015-07-04 08:35:00,2015-08-29 01:00:00,14,1283.0,NaN,NaN
4,4,1000014025,Monarch Espresso Bar,Food,Restaurants,US,successful,50000.0,52375.0,USD,2016-02-26 13:38:00,2016-04-01 13:38:00,224,52375.0,NaN,NaN

In [3]:
dupe = df.duplicated()
df[dupe]

Empty DataFrame
Columns: [Unnamed: 0, ID, name, main_category, category, country, state, goal, pledged, currency, launched, deadline, backers, usd pledged, usd_goal_real, usd_pledged_real]
Index: []

In [4]:
df.isnull().sum()

Unnamed: 0               0
ID                       0
name                     8
main_category            0
category                 0
country                  0
state                    0
goal                     0
pledged                  0
currency                 0
launched                 0
deadline                 0
backers                  0
usd pledged           7594
usd_goal_real       323750
usd_pledged_real    323750
dtype: int64

In [5]:
df2=df[['main_category','usd pledged','country','launched','deadline','state','goal','backers']]
df2

,main_category,usd pledged,country,launched,deadline,state,goal,backers
0,Publishing,0.000000,GB,2015-08-11 12:12:00,2015-10-09 11:36:00,failed,1000.0,0
1,Film & Video,220.000000,US,2013-01-12 00:20:00,2013-02-26 00:20:00,failed,45000.0,3
2,Music,1.000000,US,2012-03-17 03:24:00,2012-04-16 04:24:00,failed,5000.0,1
3,Film & Video,1283.000000,US,2015-07-04 08:35:00,2015-08-29 01:00:00,canceled,19500.0,14
4,Food,52375.000000,US,2016-02-26 13:38:00,2016-04-01 13:38:00,successful,50000.0,224
5,Food,1205.000000,US,2014-12-01 18:30:00,2014-12-21 18:30:00,successful,1000.0,16
6,Food,453.000000,US,2016-02-01 20:05:00,2016-03-17 19:05:00,failed,25000.0,40
7,Design,8233.000000,US,2014-04-24 18:14:00,2014-05-29 18:14:00,canceled,125000.0,58
8,Film & Video,6240.570000,US,2014-07-11 21:55:00,2014-08-10 21:55:00,canceled,65000.0,43
9,Publishing,0.000000,CA,2013-09-09 18:19:00,2013-10-09 18:19:00,failed,2500.0,0
10,Music,12700.000000,US,2013-03-09 06:42:00,2013-04-08 06:42:00,successful,12500.0,100
11,Crafts,0.000000,US,2014-09-02 17:11:00,2014-10-02 17:11:00,failed,5000.0,0
12,Games,0.000000,US,2016-02-09 23:01:00,2016-03-25 22:01:00,failed,200000.0,0
13,Design,664.000000,US,2015-01-29 02:10:00,2015-02-28 02:10:00,failed,2500.0,11
14,Comics,395.000000,US,2014-10-09 22:27:00,2014-11-08 22:27:00,failed,1500.0,16
15,Publishing,789.000000,US,2015-04-10 21:20:00,2015-05-10 21:20:00,failed,3000.0,20
16,Music,250.000000,US,2012-08-02 14:11:00,2012-08-17 14:11:00,successful,250.0,7
17,Food,1781.000000,US,2012-05-03 17:24:00,2012-06-02 17:24:00,failed,5000.0,40
18,Fashion,34268.000000,US,2013-11-25 07:06:00,2013-12-30 07:06:00,successful,20000.0,624
19,Theater,650.000000,US,2014-05-16 10:10:00,2014-06-15 10:09:00,failed,3500.0,12
20,Food,6.180008,NO,2015-01-26 19:17:00,2015-02-25 19:17:00,failed,500.0,3
21,Comics,701.660000,US,2014-10-23 17:15:00,2014-11-12 17:15:00,successful,175.0,66
22,Music,15827.000000,US,2010-12-07 23:16:00,2011-01-06 23:16:00,successful,10000.0,147
23,Crafts,0.000000,GB,2015-12-06 20:09:00,2016-01-05 20:09:00,failed,12000.0,0
24,Film & Video,43203.251140,CA,2014-11-14 18:02:00,2014-12-14 18:02:00,successful,17757.0,571
25,Comics,167.700306,GB,2015-12-29 16:59:00,2016-01-28 16:59:00,successful,100.0,27
26,Food,32.415261,GB,2015-03-01 18:06:00,2015-03-31 18:06:00,failed,3500.0,1
27,Design,11253.000000,US,2016-09-07 13:14:00,2016-10-08 02:00:00,successful,1000.0,549
28,Design,1473.618900,AU,2015-07-23 03:09:00,2015-08-22 03:09:00,successful,2000.0,18
29,Art,1395.000000,US,2013-02-12 01:07:00,2013-03-24 00:07:00,failed,25000.0,30
...,...,...,...,...,...,...,...,...
702381,Games,13861.500000,US,2014-09-03 19:53:50,2014-10-03,successful,10000.0,413
702382,Film & Video,0.000000,US,2014-05-06 23:50:34,2014-06-05,failed,12000.0,0
702383,Fashion,11643.000000,US,2014-11-13 17:16:17,2014-12-13,failed,25000.0,97
702384,Photography,3531.000000,US,2010-11-08 02:43:59,2011-01-08,failed,4000.0,37
702385,Publishing,70.000000,US,2015-08-25 22:37:14,2015-09-24,failed,800.0,5
702386,Music,4814.880000,CA,2014-11-17 17:50:12,2014-12-17,successful,5000.0,78
702387,Film & Video,145.000000,US,2017-08-29 06:57:28,2017-10-13,successful,10000.0,123
702388,Publishing,18.000000,US,2014-07-15 02:10:39,2014-08-15,failed,5000.0,5
702389,Food,5579.000000,US,2015-11-03 13:04:14,2015-12-03,successful,5000.0,103
702390,Publishing,100.000000,US,2014-08-08 21:49:31,2014-09-11,canceled,1000.0,2
702391,Design,0.000000,CH,2015-07-06 18:00:47,2015-09-04,failed,80000.0,0
702392,Games,66.720000,FR,2017-10-04 11:26:44,2017-10-31,successful,1000.0,35
702393,Technology,0.000000,US,2014-05-05 20:22:45,2014-05-26,canceled,6500.0,0
702394,Design,6169.000000,US,2015-11-23 07:33:14,2015-12-15,successful,3500.0,120
702395,Comics,4281.150000,GB,2013-09-10 22:45:26,2013-10-10,failed,16000.0,38
702396,Publishing,1732.020000,US,2013-10-18 21:35:04,2013-11-30,successful,950.0,31
702397,Publishing,980.000000,US,2012-08-15 17:11:00,2012-09-14,failed,4999.0,16
702398,Games,121.000000,US,2016-01-24 16:03:27,2016-02-23,canceled,500.0,5
702399,Film & Video,45.000000,US,2017-02-08 02:28:44,2017-04-09,failed,500.0,6
702400,Technology,0.000000,US,2016-07-29 15:36:29,2016-09-05,failed,6000.0,0
702401,Music,5019.920000,CA,2014-02-20 01:00:16,2014-03-22,successful,5000.0,78
702402,Film & Video,2698.970000,NO,2015-03-29 21:30:33,2015-04-28,successful,20000.0,36
702403,Film & Video,25.000000,US,2012-02-15 04:31:10,2012-03-16,failed,1700.0,1
702404,Food,0.000000,US,2017-03-20 22:08:22,2017-04-19,failed,6500.0,4
702405,Publishing,0.000000,CA,2014-08-06 03:46:07,2014-09-20,canceled,5500.0,0
702406,Film & Video,25.000000,US,2014-09-17 02:35:30,2014-10-17,canceled,50000.0,1
702407,Film & Video,155.000000,US,2011-06-22 03:35:14,2011-07-19,failed,1500.0,5
702408,Film & Video,20.000000,US,2010-07-01 19:40:30,2010-08-16,failed,15000.0,1
702409,Technology,200.000000,US,2016-01-13 18:13:53,2016-02-13,failed,15000.0,6
702410,Art,524.000000,US,2011-07-19 09:07:47,2011-08-16,failed,2000.0,17

In [6]:
df1=df.groupby(['main_category','usd pledged','country','goal','state'])['backers'].mean()
df1

main_category  usd pledged   country  goal       state
Art            0.00000       AT       900.0      failed           2.000000
                                      1000.0     failed           1.000000
                                      1500.0     failed           1.000000
                                      1700.0     live             0.000000
                                      2000.0     canceled         0.333333
                                                 failed           0.000000
                                      2500.0     failed          18.000000
                                      4750.0     failed           1.000000
                                      5000.0     failed           0.666667
                                      5055.0     failed          29.000000
                                      7000.0     failed           0.000000
                                      9000.0     failed           0.000000
                                      10000.0    canceled         2.000000
                                                 failed           0.000000
                                      11500.0    canceled         0.000000
                                      26000.0    canceled         0.000000
                                      35000.0    failed           2.000000
                                      45000.0    failed           0.000000
                                      100000.0   failed           2.000000
                             AU       20.0       failed           0.000000
                                      50.0       canceled         0.000000
                                      100.0      failed           0.000000
                                      150.0      successful      22.000000
                                      200.0      failed           0.000000
                                      225.0      canceled         0.000000
                                      250.0      failed           0.000000
                                      275.0      failed           0.000000
                                      300.0      failed           0.000000
                                      350.0      canceled         0.000000
                                      370.0      live             1.000000
                                                                  ...
Theater        87567.08000   IT       300000.0   successful     426.000000
               87567.08416   IT       300000.0   successful     426.000000
               88240.69000   US       80000.0    successful     656.000000
               89833.73000   US       75000.0    successful    1248.000000
               91366.02000   GB       50000.0    successful     238.000000
               91366.02349   GB       50000.0    successful     238.000000
               91642.27737   GB       55000.0    successful     145.000000
               91642.28000   GB       55000.0    successful     145.000000
               92340.21000   US       60000.0    successful    1088.000000
               92830.20000   US       85000.0    successful     794.000000
               100036.00000  US       100000.0   successful     558.000000
               100272.12000  US       75000.0    successful     829.000000
               126132.00000  US       125000.0   successful    1015.000000
               131702.00000  US       120000.0   successful    1011.000000
               131758.53000  US       100000.0   successful    2705.000000
               141420.00000  US       125000.0   successful     400.000000
               142564.89000  US       35000.0    successful    3544.000000
               142800.73000  GB       200000.0   canceled      1561.000000
               142800.73030  GB       200000.0   canceled      1561.000000
               152009.00000  US       60000.0    successful     421.000000
               153362.00000  US       150000.0   successful    1420.000000
               154670.02000  US       88000.0    successful    3722.000000
               154929.48000  US       150000.0   successful    1421.000000
               169985.91000  US       116000.0   successful    1095.000000
               175395.21000  US       100000.0   successful    1394.000000
               178101.62860  GB       110000.0   successful     334.000000
               178101.63000  GB       110000.0   successful     334.000000
               211634.17000  US       200000.0   successful    1769.000000
               301019.57000  US       1000000.0  canceled      2108.000000
               318120.34000  US       50000.0    successful    1485.000000
Name: backers, Length: 332690, dtype: float64

In [7]:
df2=df2.dropna()

In [8]:
df2.isnull().sum()

main_category    0
usd pledged      0
country          0
launched         0
deadline         0
state            0
goal             0
backers          0
dtype: int64

In [9]:
df2.to_csv('Kickstartercombo.csv',index=True,header=True)

In [12]:
df2.corr()

             usd pledged      goal   backers
usd pledged     1.000000  0.005871  0.705763
goal            0.005871  1.000000  0.004405
backers         0.705763  0.004405  1.000000